{% load static %}
{% include "components/header.html" %}
<main>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="img-box">
                    <img src="{% static 'assets/images/f302eac8cc4e29865adcba5ab8379efe.jpg' %}" alt="">
                </div>
                <div class="container container-xxl p-0 pt-5 d-flex flex-column">
                    <h1 class="title align-self-center">Siliguri Government Polytechnic</h1>
                    <h3 class="sub-title align-self-end">One of the best Government Polytechnic collage in Siliguri</h3>
                    <div class="row">
                        <div class="col-md">
                            <a href="#" class="custom-btn">Find books
                                <span></span><span></span><span></span><span></span>
                            </a>
                            <a href="#" class="custom-btn">Buy books
                                <span></span><span></span><span></span><span></span>
                            </a>
                            <a href="#" class="custom-btn">Donate
                                <span></span><span></span><span></span><span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="img-box">
                    <img src="{% static 'assets/images/bg-2.jpg' %}" alt="">
                </div>
                <div class="container container-xxl p-0 pt-5 d-flex flex-column">
                    <h1 class="title">Welcome to Siliguri Government Polytechnic</h1>
                    <h3 class="sub-title align-self-end">Siliguri Government Polytechnic since its foundation (1998) has
                        been playing a
                        distinct role in the field of Engineering. It is situated in Siliguri, Dist. Darjeeling, West
                        Bengal . It is a government institute which offers only diploma courses.</h3>
                    <div class="row">
                        <div class="col-md">
                            <a href="#" class="custom-btn">Find books
                                <span></span><span></span><span></span><span></span>
                            </a>
                            <a href="#" class="custom-btn">Buy books
                                <span></span><span></span><span></span><span></span>
                            </a>
                            <a href="#" class="custom-btn">Donate
                                <span></span><span></span><span></span><span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="img-box">
                    <img src="{% static 'assets/images/bg-3.jpg' %}" alt="">
                </div>
                <div class="container container-xxl p-0 pt-5 d-flex flex-column">
                    <h1 class="title">A message from Principal of Siliguri Government Polytechnic</h1>
                    <h3 class="sub-title align-self-end">Siliguri Government Polytechnic is located exclusively in urban
                        locality. Siliguri being the very next to Kolkata in status, has all the ingredients of a
                        cosmopolitan nature. Geographically, it is fantastically located to serve too many other
                        adjoining areas including hills. </h3>
                    <div class="row">
                        <div class="col-md">
                            <a href="#" class="custom-btn">Find books
                                <span></span><span></span><span></span><span></span>
                            </a>
                            <a href="#" class="custom-btn">Buy books
                                <span></span><span></span><span></span><span></span>
                            </a>
                            <a href="#" class="custom-btn">Donate
                                <span></span><span></span><span></span><span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- About Section  -->
<section style="height: 100vh;" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="{% static 'assets/images/undraw_book_lover_mkck.svg' %}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-box">
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a href="#" class="custom-btn">Read More
                        <span></span><span></span><span></span><span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>


</section>
{% include "components/footer.html" %}