@import url(color.css);
@import url(animations.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

/* Hedaer Style Start */
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.3s linear all;
}

div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    padding: 10px 0;
}

div.logo img {
    height: 100%;
}

header nav {
    width: 60%;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 20px;
    background: var(--primary);
    color: var(--text);
    transition: 0.5s ease all;
    position: relative;
}

header nav ul li a:hover {
    box-shadow: 0 0 10px var(--text),
        0 0 20px var(--text),
        0 0 50px var(--text),
        0 0 100px var(--text);
}

header nav ul li a span {
    position: absolute;
    background: var(--supportive);
    transition: 0.3s ease all;
}

header nav ul li a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
}

header nav ul li a:hover span:nth-child(1) {
    width: 100%;
    transition-delay: 0;
}

header nav ul li a span:nth-child(2) {
    top: 0;
    right: 0;
    width: 2px;
    height: 0;
    transition-delay: 0.2s;
}

header nav ul li a:hover span:nth-child(2) {
    height: 100%;
    transition-delay: 0;
}

header nav ul li a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    transition-delay: 0.4s;
}

header nav ul li a:hover span:nth-child(3) {
    width: 100%;
    transition-delay: 0;
}

header nav ul li a span:nth-child(4) {
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0;
    transition-delay: 0.6s;
}

header nav ul li a:hover span:nth-child(4) {
    height: 100%;
    transition-delay: 0;
}

header .toggle-btn {
    display: none;
}

@media screen and (max-width: 600px) {
    header nav {
        width: 100%;
        overflow: hidden;
        height: 0;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        transition: 0.5s ease-in-out all;
        z-index: 1;
    }

    header nav ul {
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    header .toggle-btn {
        display: block;
        width: 40px;
        height: 50px;
        overflow: hidden;
        transition: 0.3s ease-in-out all;
    }

    header .toggle-btn .line {
        width: 100%;
        height: 4px;
        background: white;
        margin: 10px 0;
        transition: 0.3s ease all;
    }

    header .toggle-btn.active .line-1 {
        transform: rotate(90deg) translate(35%);
        transition-delay: 0.05s;
    }

    header .toggle-btn.active .line-3 {
        margin-left: 120%;
    }

    header .toggle-btn.active {
        transform: rotate(45deg);
        transition-delay: 0.05s;
    }

    header nav.active {
        height: calc(100vh - 100px);
    }
}

/* Header style end  */

/* Main senction start  */
#carouselExampleAutoplaying,
.carousel-inner,
.carousel-item {
    width: 100%;
    height: 100vh;
}

main {
    margin-top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;
}

main .img-box {
    width: inherit !important;
    height: inherit !important;
    background: linear-gradient(to bottom, rgba(var(--bs-primary-rgb), 1), rgba(var(--bs-secondary-rgb), 0.5));
}

main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: sticky;
    top: 0;
    left: 0;
    z-index: -1;
}

main .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -79%);
}

main .container .title {
    margin-top: 120px;
    font-size: 5rem;
    font-weight: bold;
    color: var(--text);
    text-transform: capitalize;
    text-align: center;
}

main .container .sub-title {
    text-align: justify;
    font-size: 2rem;
    color: var(--supportive);
    font-weight: bold;
    text-transform: capitalize;
}

main .container .sub-title::before {
    content: "- ";
}

main .container .row .col-md {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .container .row .col-md .custom-btn {
    background: var(--primary);
    padding: 15px 30px;
    font-size: 1.5rem;
    color: #fff;
    transition: 0.3s ease-in-out all;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

main .container .row .col-md .custom-btn:nth-child(even) {
    background: var(--text);
}

main .container .row .col-md .custom-btn:hover {
    box-shadow: 0 0 10px var(--supportive),
        0 0 20px var(--supportive),
        0 0 50px var(--supportive),
        0 0 100px var(--supportive);
}

main .container .row .col-md .custom-btn span {
    background: linear-gradient(to right, transparent, var(--supportive));
    position: absolute;
}

main .container .row .col-md .custom-btn span:nth-child(1) {
    width: 100%;
    height: 4px;
    top: 0;
    left: -100%;
    animation: animate1 1s infinite;
}

main .container .row .col-md .custom-btn span:nth-child(2) {
    background: linear-gradient(to bottom, transparent, var(--supportive));
    width: 4px;
    height: 100%;
    top: -100%;
    right: 0;
    animation: animate2 1s infinite;
    animation-delay: 0.25s;
}

main .container .row .col-md .custom-btn span:nth-child(3) {
    background: linear-gradient(to left, transparent, var(--supportive));
    width: 100%;
    height: 4px;
    bottom: 0;
    right: -100%;
    animation: animate3 1s infinite;
    animation-delay: 0.5s;
}

main .container .row .col-md .custom-btn span:nth-child(4) {
    background: linear-gradient(to top, transparent, var(--supportive));
    width: 4px;
    height: 100%;
    bottom: -100%;
    left: 0;
    animation: animate4 1s infinite;
    animation-delay: 0.75s;
}

@media screen and (max-width: 600px) {
    main .container {
        padding: 0 !important;
        transform: translate(-50%, -80%);
    }

    main .container .title {
        text-align: center;
        font-size: 1.7rem;
        margin-left: 20px !important;
    }

    main .container .sub-title {
        text-align: end;
        font-size: 1rem;
        margin-right: 20px;
    }

    main .container .row .col-md .custom-btn {
        padding: 5px 10px;
        font-size: 1rem;
    }
}